<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{{site.title}}</title>

        <style>
.bgimg_body {
    /*background-image: url({{ site.baseurl }}/assets/media/background_df.png); /* The image used */
    background-color: #fafafacb; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-blend-mode: luminosity;
}
       </style>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ site.baseurl }}/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ site.baseurl }}/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- Favicon -- START -->

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest">

        <!-- Favicon -- END -->

    </head>