<nav>
    <div class="nav-wrapper green grey-text text-darker-3">
      <a href="{{ site.baseurl }}/index.html" class="brand-logo left hide-on-med-and-down">
        <i class="material-icons">home</i>Inicio
      </a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/posts.html" title="Clases">
          <i class="material-icons">school</i>
        </a></li>
        <li><a href="{{ site.baseurl }}/about.html" title="Acerca de">
          <i class="material-icons">help</i>
        </a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile">
  <li><a href="{{ site.baseurl }}/index.html" title="Inicio">
    <i class="material-icons">home</i>
  </a></li>
  <li><a href="{{ site.baseurl }}/posts.html" title="Clases">
    <i class="material-icons">school</i>
  </a></li>
  <li><a href="{{ site.baseurl }}/about.html" title="Acerca de">
    <i class="material-icons">help</i>
  </a></li>
</ul>
