<div class="container">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10 center-align">
            <h6>
                <p>
                    {{site.title}}
                </p>
            </h6>
            <h3>
                <b>{{page.title}}</b>
            </h3>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10 center-align">
            {{page.subtitle}}
        </div>
        <div class="col s1"></div>
    </div>
</div>