<nav>
    <div class="nav-wrapper cyan darken-4 white-text text-darker-2">
      <a href="{{ site.baseurl }}/posts.html" class="brand-logo left hide-on-med-and-down">
        <i class="material-icons">arrow_back</i>Regresar</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="prev.html" title="Clase Anterior">
          <i class="material-icons">chevron_left</i>
        </a></li>
        <li><a href="next.html" title="Clase Siguiente">
          <i class="material-icons">chevron_right</i>
        </a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ site.baseurl }}/posts.html" title="Regresar">
      <i class="material-icons">arrow_back</i>Regresar
    </a></li>
    <li><a href="prev.html" title="Clase Anterior">
      <i class="material-icons">arrow_back</i>Clase Anterior
    </a></li>
    <li><a href="next.html" title="Clase Siguiente">
      <i class="material-icons">arrow_forward</i>Clase Siguiente
    </a></li>
</ul>