<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="bgimg_body">
        {% include mathjax.html %}
        <!-- BODY -- START -->
        {% include post_navbar.html %}

        {% include post_subtitle.html %}

        <div class="container white darken-4">
            <div class="row">
                <div class="col s12">
                    {% include canvas.html canvas_name="glcanvas" canvas_subtext="Demo" %}
                    {{ content }}
                </div>
            </div>
        </div>
        <!-- BODY -- END -->
        <!--  Scripts BEGIN -->
        {% include post_footer.html %}
            {% if page.special_init == "threejs" %}
                <script type="module">
                    import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r110/build/three.module.js';
                    import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r110/examples/jsm/controls/OrbitControls.js';
                    import {OBJLoader2} from 'https://threejsfundamentals.org/threejs/resources/threejs/r110/examples/jsm/loaders/OBJLoader2.js';
                    import {MTLLoader} from 'https://threejsfundamentals.org/threejs/resources/threejs/r110/examples/jsm/loaders/MTLLoader.js';
                    import {MtlObjBridge} from 'https://threejsfundamentals.org/threejs/resources/threejs/r110/examples/jsm/loaders/obj2/bridge/MtlObjBridge.js';

                    threeMain("{{ page.file_name }}")
                    {% for inits_fun in page.alt_js_inits %}
                        {{ inits_fun }}("{{ page.file_name }}")
                    {% endfor %}
                </script>
            {% else %}
                <script>
                    {% for inits_fun in page.alt_js_inits %}
                        {{ inits_fun }}("{{ page.file_name }}")
                    {% endfor %}
                </script>
            {% endif %}
        {% include footer.html %}
        <!-- Scripts END -->
    </body>
</html>
