<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="bgimg_body">
        {% include mathjax.html %}
        <!-- BODY -- START -->
        {% include post_navbar.html %}

        {% include post_subtitle.html %}

        <div class="container white darken-4">
            <div class="row">
                <div class="col s12">
                    {% include canvas.html canvas_name="glcanvas" canvas_subtext="Demo" %}
                    {{ content }}
                </div>
            </div>
        </div>
        <!-- BODY -- END -->
        <!--  Scripts BEGIN -->
        {% include post_footer.html %}
        <script>
            webgl_scene("{{ page.file_name }}");

            {% for inits_fun in page.alt_js_inits %}
                {{ inits_fun }}("{{ page.file_name }}")
            {% endfor %}
        </script>
        {% include footer.html %}
        <!-- Scripts END -->
    </body>
</html>
